*{
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header img{
  width: 140px;
  margin-top: 20px;
  margin-left: 20px;
}

.header ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

.about-section{
  display: flex;
  flex-wrap: wrap;

}

.about-text{
  margin-right: 40px;
  width: 450px;
}

.about-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
}

.project{
  height: 140px;
  width: 140px;
  border: 1px solid black;
}


