*{
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header img{
  width: 140px;
  margin-top: 20px;
}

.header ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header ul li{
  padding: 10px;
}
