#app{
  font-family: 'Raleway', sans-serif;
  background-color: #ECEFF1;
  font-size: 1.15em;
}

.top-header h1{
  font-family: 'Roboto Slab', serif;
}

.top-header{
  display: flex;
  justify-content: center;
  background-color: #263238;
  color: white;
}

.top-header img{
  width: 140px;
  margin: 20px;
  border-radius: 100px;
}

.header-text{
  margin-right: 40px;
  margin-top: 35px;
}

.nav-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

.nav-links img{
  width: 30px;
  margin: 10px;
  margin-top: 5px;
}
.nav-links li a{
  color: #263238;
  margin-right: 20px;
}


.about-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
  background-color: white;
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}


.about-text{
  width: 500px;
}


.grid-header{
  
  font-size: 1.5em;
  grid-area: header;
  border: 2px solid  #0277BD;
  font-weight: bold;
  color: #0277BD;
  width: 315px;
  border-radius: 5px;
}

.grid-header p{
  margin-top: 40px;
  text-align: center;
}

#animalShelter{
  grid-area: animalShelter;
  background-color: #EA1E63;
}

#workoutPlanner{
  grid-area: workoutPlanner;
  background-color: #9C28B1;
}

#workoutPlanner p{
  margin-top: 40px;
}

#iDrinkies{
  grid-area: iDrinkies;
  background-color: #00BCD5;
}

#hooses{
  grid-area: hooses;
  background-color: #019587;
}

#starWars{
  grid-area: starWars;
  background-color: #FEC107;
  width: 315px;
}

#battleships {
  grid-area: battleships;
  background-color: #673BB7;
}



.grid-container{
  display: grid;
  grid-gap: 10px 5px;
  grid-template-areas: 
      "header header workoutPlanner"
      "battleships iDrinkies animalShelter"
      "hooses starWars starWars";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: [row1-start] 120px [row1-end] 120px [third-line] 120px;
}


.project{
  height: 120px;
  width: 150px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.project p{
  margin-top: 50px;
}


.project-heading{
  font-family: 'Roboto Slab', serif;
  color: white;
  text-align: center;
  height: 100px;
  padding-top: 10px;
}

#project-view{
  height: 1000px;
}

.project-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  background-color: white;
  padding-bottom: 100px;
}

.images{
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  
  background-color: white;
}

#carousel-project-images{
  height: 300px;
}

.images p{
  margin-top: 40px;
}

.project-info-text{
  padding-top: 40px;
  width: 500px;
}


.carousel-control.left{
  background: none !important
}

.carousel-control.right{
  background: none !important
}



